body{
    background-color: #f0f0f0;
    width: 400px;
    margin: auto;
    font-family: sans-serif;
}

.form{
    width: 400px;
    margin: auto;
    padding-top: 40px;   
}

.card{
    box-shadow: 1px 1px 5px #ccc;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
}

.card-top{
    text-align: center;
}

.card-group{
    margin-bottom: 10px;
}

.card-group > label{
    width: 100%;
    color: rgb(75, 75, 75);
    display: block;
}

.card-group > input{
    border-radius: 5px;
    outline: 0;
    width: 100%;
    height: 25px;
    padding: 5px;
}

.card-group > button{
    background-color: #FF4500;
    width: 100%;
    border-radius: 30px;
    padding: 15px;
    color: white;
    border: 0px;
    outline: 0;
}

.imglogin{
    border-radius: 50px;
    width: 100px;
}

.title{
    color: #FF4500;
}

#erroMsg{
    color:RED;
    visibility: hidden;
}

.row{
    padding-top: 10px;
    padding-bottom: 10px;
}

li {
    display: inline-block;
    margin: 5px;
}
